body {
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d;
  color: white;
  padding: 0;
  margin: 0;
}

header img {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: #3de07e;
}

footer {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  justify-content: center;
  background-color: #333333;
  margin-top: 2rem;
  /* ta gärna bort min-height senare, endast här för det visuella */
  min-height: 200px;
}

/* Ska ni sätta grid-area på en class, så måste ni troligtvis sätta ett id="någotidhär" på elementet */
/* id refereras med # istället för .  */
/* annars får ni använda inbyggda som redan finns t.ex. header main aside som gjordes i första exemplet */
/* Kolla exempel här [https: //developer.mozilla.org/en-US/docs/Web/CSS/grid-area#examples] */
#small-grid {
  display: grid;
  grid-area: small_grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

#card-big-container {
  display: grid;
  grid-area: big_cards;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  align-self: center;
  max-width: 1000px;
  grid-template-areas:
    "small_grid small_grid small_grid small_grid small_grid small_grid small_grid small_grid"
    "big_cards big_cards big_cards big_cards big_cards big_cards big_cards big_cards"
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  background-size: contain;
}

.card h1 {
  display: flex;
  padding: 0;
  margin: 0;
}

.card p {}

.card a {
  display: flex;
  background-color: #e83f57;
  color: white;
  align-self: flex-start;
}

.large {
  background-color: white;
  color: black;
}